<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../styles/Qr.css" />
    <link
      rel="icon"
      href="../assets/images/Logo ByteBuddy Learning.png"
      type="image/x-icon"
    />
    <title>Qr ChatBot</title>
  </head>
  <body>
    <video autoplay muted loop class="Background_Qr">
      <source src="../assets/videos/Background_Login.mp4" type="video/mp4" />
      Tu navegador no soporta HTML5.
    </video>
    <div class="container p-3 my-3 container-qr">
      <h1>Escanear Codigo QR</h1>
      <img src="../assets/images/Qrchatbot.jpg" alt="Qrchatbot" />
      <br /><br />
      <input
        type="button"
        value="Regresar"
        onclick="window.location.href='../index.html';"
        name="Btn_Go_Back"
        title="Regresar"
        id="Btn_Go_Back"
      />
    </div>
  </body>
</html>
