<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="ByteBuddy Learning" content="ByteBuddy Learning" />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/Register.css" />
    <link
      rel="icon"
      href="../assets/images/Logo ByteBuddy Learning.png"
      type="image/x-icon"
    />
    <title>Registro ByteBuddy Learning</title>
  </head>

  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark p-0"
      style="background-color: #1d1b31"
    >
      <a class="navbar-brand d-flex mx-auto text-center" href="../index.php">
        <img
          src="../assets/images/Logo ByteBuddy Learning.png"
          alt=""
          id="imgLogo"
          class=""
        />
        <span class="mt-4 h3">ByteBuddy Learning</span>
      </a>
    </nav>
    <!--Logo-->
    <section class="Login_Form_Register" style="background-color: #e3e9f7">
      <div class="Form_Box" style="background-color: #1d1b31">
        <!--Contenido login-->
        <div class="Form_Value">
          <form method="POST" id="from">
            <h2 id="Title_Register_Login">Registrarse</h2>
            <div class="Input_Box">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-person-vcard"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"
                />
                <path
                  d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"
                />
              </svg>
              <input
                type="text"
                name="name"
                title="Ingrese su nombre"
                id="name"
              />
              <label for="name">Nombre</label>
            </div>
            <div class="Input_Box">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16px"
                height="16px"
                fill="currentColor"
                class="Icon_Email"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"
                />
                <path
                  d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"
                />
              </svg>
              <input
                name="email"
                title="Ingrese su correo electrónico"
                id="email"
                autocomplete="off"
              />
              <label for="email">Correo electrónico</label>
            </div>
            <div class="Input_Box">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16px"
                height="16px"
                fill="currentColor"
                class="Icon_Password"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"
                />
              </svg>
              <input
                type="password"
                name="password"
                title="Ingrese su contraseña"
                id="password"
                autocomplete="off"
              />
              <label for="password">Contraseña</label>
            </div>
            <input
              type="submit"
              name="Btn_Register"
              title="Registrarse"
              id="Btn_Log_in_Register"
              value="Registrarse"
            />
            <br /><br />
            <input
              type="button"
              value="Regresar"
              onclick="window.location.href='Login.html';"
              name="Btn_Go_Back"
              title="Regresar"
              id="Btn_Go_Back_Login"
            />
          </form>
        </div>
      </div>
    </section>
    <footer>
      <div class="container-fluid" style="background-color: #1d1b31">
        <div class="row p-5 text-white">
          <!--Contenedor de footer-->
          <div class="col-xs-12 col-md6 col-lg-3">
            <!--tam: movil-tablets-laptos,Pc´s-->
            <p class="h3">ByteBuddy Learning</p>
            <p class="text-secondary text-white">Guadalajara,Jal</p>
          </div>
          <div class="col-xs-12 col-md6 col-lg-3">
            <p class="h5 mb-3">Redes sociales</p>
            <div class="mb-2">
              <a href="#" class="text-decoration-none text-secondary">
                <i class="fa-brands fa-facebook p-1"></i>Facebook</a
              >
            </div>
            <div class="mb-2">
              <a href="#" class="text-decoration-none text-secondary"
                ><i class="fa-brands fa-twitter p-1"></i>Twitter</a
              >
            </div>
            <div class="mb-2">
              <a href="#" class="text-decoration-none text-secondary"
                ><i class="fa-brands fa-instagram p-1"></i>Instagram</a
              >
            </div>
          </div>
          <div class="col-xs-12 col-md6 col-lg-3">
            <p class="h5 mb-3">Links</p>
            <div class="mb-2">
              <a href="#" class="text-decoration-none text-secondary"
                >Terminos y condiciones</a
              >
            </div>
            <div class="mb-2">
              <a href="#" class="text-decoration-none text-secondary"
                >Politicas de privacidad</a
              >
            </div>
          </div>
          <div class="col-xs-12 col-md6 col-lg-3">
            <p class="h5 mb-3">Elaborado por:</p>
            <div class="mb-2">
              <p class="text-secondary">Equipo dinamita</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script type="module" src="../js/Register.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  </body>
</html>
