<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="ByteBuddy Learning" content="ByteBuddy Learning" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Profesor</title>
</head>

<body>
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCourseModal">
        Curso nuevo
    </button> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Admin Cursos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Estudiantes</a>
                    </li>
                    <!-- Agrega más elementos según sea necesario -->
                </ul>
                <!-- Puedes agregar elementos a la derecha, como un formulario de búsqueda o un botón de cierre de sesión -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="main_content" class="container mt-5">
        <div class="container d-grid">
            <div id="courses" class="row">
                <!-- <div class=" col"> f
                <div class="card text-start">
                    <img class="card-img-top" src="holder.js/100px180/" alt="Title">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Body</p>
                    </div>
                </div> -->

            </div>
        </div>
    </div>

    <div class="fixed-bottom text-end p-3">
        <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal"
            data-bs-target="#createCourseModal" data-bs-placement="left" title="Agregar" z-index="0">
            <i>Nuevo</i>
        </button>
    </div>

    <div id="createCourseModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog .modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nuevo curso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="createCourse" method="post">
                            <div class="mb-3">
                                <label for="nombreCurso" class="form-label">Nombre del Curso</label>
                                <input type="text" class="form-control" name="nombreCurso" id="nombreCurso"
                                    placeholder="Ingrese el nombre del curso" required>
                            </div>
                            <div class="mb-3">
                                <label for="precioCurso" class="form-label">Precio Curso</label>
                                <input id="precioCurso" name="precioCurso" class="form-control" type="number"
                                    placeholder="$45.99">
                            </div>
                            <div class="mb-3">
                                <label for="descripcionCurso" class="form-label">Descripción del Curso</label>
                                <textarea class="form-control" id="descripcionCurso" name="descripcionCurso" rows="4"
                                    placeholder="Ingrese la descripción del curso" required></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" form="createCourse">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script type="module" src="../../js/profesor.js"></script>

    </footer>
</body>

</html>