.navbar-brand img {
  width: 100px;
  height: auto;
}
.navbar-custom {
  background-color: #1d1b31;
}
.footer-custom {
  background-color: #1d1b31;
  color: #fff;
}
#carritoIcono img {
  filter: brightness(0) invert(1);
}
.navbar-custom .navbar-nav .nav-link {
  font-size: 25px;
  transition: color 0.3s;
  color: #fff;
}
.navbar-custom .navbar-nav .nav-link:hover {
  color: orangered;
}
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 18px;
  }

  .nav-link {
    font-size: 14px;
  }
}
