#imgLogo{
    width: 75px;
    height: 75px;
  
  }
#cont_form{

    border-radius: 10px;
    width: 85%;
    box-shadow: 5px 5px 5px black;
    border: solid white 2px;
}
#n-contraseña, #contraseña{
    border: 0;
    border-bottom: 1px black solid;
    border-radius: 0px;
}

input:focus, select:focus, select, input.form-control:focus {/*Quitar el borde azul de bootstrap*/

    outline:none !important;

    outline-width: 0 !important;

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;

}
h3{
    color: #1c92d2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#boton{
    border: 1px solid;
    border-radius: 100px;

}
.form-correct{
    color:#1ed12d;
    Border:3px solid #1ed12d;
    border-radius: 10px;
}
.form-incorrect{
    color: #bb2929;
    Border:3px solid #bb2929;
    border-radius: 10px;
}
.form_error_activo{
    display: block;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#cuerpo{
    position: relative;
    z-index: 2;
}